body {
    scroll-behavior: smooth;
}

.navbar-dark {
    background-color: #007bff;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    margin-right: 50px;
}

#profile {
    background: url('Jumbotron.jpg') no-repeat center center;
    background-size: cover;
    color: white; 
    height: 100vh; 
}

.profile-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 5px solid white;
}

.bg-about {
    background-color: #bfd7f0;
    color: #333;
    margin-top: 40px;
}

.about-content-box {
    background-color: white; 
    padding: 30px;
    border-radius: 8px;
}

.about-text-content p { 
    text-align: justify;
    font-size: 1.1rem; 
    line-height: 1.8;
}

.bg-projects {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #d6abe1; 
    color: #333;
}

.bg-contact {
    background-color: #343a40;
    color: white;
}

@media (max-width: 768px) {
    body {
        padding-top: 50px;
    }
    #profile {
        height: 60vh; 
    }
    .profile-img {
        width: 120px;
        height: 120px;
    }
    .display-4 {
        font-size: 2.5rem;
    }
    .navbar-dark .navbar-brand {
        color: #fff;
    }
}